Review our DCR implementation meets the OB DCR 3.2 spec

The /dto classes are the generated DCR classes generated from the swagger found here;
https://github.com/OpenBankingUK/client-registration-api-specs/tree/v3.2

I have a concern that we don't totally support DCR registration specs. For example the OB DCR spec says 

> the ASPSP MUST return a client registration error response to the TPP conforming to Section 3.2.2 of [RFC7591]
https://openbankinguk.github.io/dcr-docs-pub/v3.2/dynamic-client-registration.html#error-structure

Find that spec here;
https://tools.ietf.org/html/rfc7591#section-3.2.2

The code didn't do that. I have made changes to fix that for the register journey, but I think the whole of our DCR implementation needs checking to compliance against this spec. I'll create a new issue for that.

_Originally posted by @BohoCode in https://github.com/OpenBankingToolkit/openbanking-aspsp/issues/318#issuecomment-757988229_

Tasks;
- [ ] Change mocks in TppRegistrationServiceTest to use @Mock and @InjectMock (see https://github.com/OpenBankingToolkit/openbanking-aspsp/pull/318#discussion_r555097569)